#square {
    position:absolute;
    height: 1200px;
    width: 1200px;
}
.image {
    position:absolute;
    margin: -10px;
}

.bouton0 {
    position:absolute;
    top:400px;
    left:1400px;
    background-color:beige;
}

.bouton1 {
    position:absolute;
    top:500px;
    left:1400px;
    background-color: aquamarine;
}

.bouton2 {
    position:absolute;
    top:600px;
    left:1400px;
    background-color: aqua;
}

.bouton3 {
    position:absolute;
    top:700px;
    left:1400px;
    background-color: brown;
}